nav {

    background-color: rgb(255, 128, 32);
    padding: 0px;
    overflow: hidden;
    display: block;
    text-align: left;
    height: 99px;
}

li {
    float: left;
}

body {

    text-align: left;
}
a {
    float: left;;
    padding: 8px;
    background-color: #ffffff00;
  }
h1 {
    text-align: center;
    
}